<?xml version="1.0"?>
<config>
    <modules>
        <Effusant_Quickpic>
            <version>1.0</version>
        </Effusant_Quickpic>
    </modules>
    <global>
        <models>
            <quickpic>
                <class>Effusant_Quickpic_Model</class>
            </quickpic>
        </models>
        <resources>
            <quickpic_setup>
                <setup>
                    <module>Effusant_Quickpic</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </quickpic_setup>
            <quickpic_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </quickpic_write>
            <quickpic_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </quickpic_read>
        </resources>
		<blocks>
            <quickpic>
                <class>Effusant_Quickpic_Block</class>
            </quickpic>
        </blocks>
		<helpers>
            <quickpic>
                <class>Effusant_Quickpic_Helper</class>
            </quickpic>
        </helpers>
    </global>
    <admin>
        <routers>
            <quickpic>
                <use>admin</use>
                <args>
                    <module>Effusant_Quickpic</module>
                    <frontName>quickpic</frontName>
                </args>
            </quickpic>
<!--
            <adminhtml>
                <args>
                    <modules>
                        <quickpic before="Mage_Adminhtml">Effusant_Quickpic_Adminhtml</quickpic>
                    </modules>
                </args>
            </adminhtml>
-->
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <quickpic>
                    <file>quickpic.xml</file>
                </quickpic>
            </updates>
        </layout>
    </adminhtml>
</config>
